@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Kotta+One&family=Playfair:wght@300&display=swap');
*{
    font-family: 'Kotta One', serif;
    color: rgb(218, 218, 218);
}
html{
    background-image: url(https://i.pinimg.com/originals/da/1e/0c/da1e0c3e41db28cefe8f12d9b1fac46a.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
div{
    padding: 10px;
    margin: 10px;
}
.img-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}
.img-div .left-side, .img-div .right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-div .right-side{
    max-width: 800px;
}
#tribute-info{
    padding-bottom: 20px;
}
#image {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#img-caption{
    padding-top: 10px;
}
#title{
    text-align: center;
    font-size: 90px;
    margin: 5px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
#tribute-link{
    font-size: 14px;
    text-decoration: none;
}
#tribute-link:hover{
    color: rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
}